@use "tools" ;


body {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-back-pearl-50);
    @include tools.container-width;
}

// TODO : move to object
.main-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 19.5px 0;
    // max-width: var(--container-max-width);
    @include tools.container-width;
    
}

main {
    display: flex;
    flex-direction: column;

    @include tools.container-width;
}

// TODO: habve to reset files
a {
    text-decoration: none;
}