:root {
    --color-back-pearl-0: #fff;
    --color-back-pearl-50: #e4ebee;
    --color-back-pearl-900: #1b262c;
    --color-back-pearl-700: #3C5562;
    --color-back-pearl-400: #7799AC;

    --color-aquarius-900: #C5EAF0;
    --color-aquarius-100: #0D2E32;

    --container-max-width: 1180px;
}